<?xml version="1.0" encoding="UTF-8" ?>
<!--
关于Mybatis的SQL文件映射该怎么写，我们要参照Mybatis的官方文档，官方文档都托管到了GitHub下
我们就从GitHub网站去搜索MyBatis的相关资料
配置的参照例子
https://mybatis.org/mybatis-3/getting-started.html

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.springboot04web.mapper.Kn01L002LsnMapper">
    <!-- 后台维护，获取所有学生的排课课程 -->
    <select id= "getInfoList" resultType="com.liu.springboot04web.bean.Kn01L002LsnBean">
        select * from v_info_lesson order by stu_id, lesson_id desc, subject_sub_id desc, lesson_type
    </select>

    <!-- 手机前端页面课程表页面，获取指定元月日这一天的学生的排课课程 -->
    <select id= "getInfoListByDay" resultType="com.liu.springboot04web.bean.Kn01L002LsnBean">
        select 
            lesson_id
            ,stu_id
            ,subject_id
            ,subject_sub_id
            ,stu_name
            ,subject_name
            ,subject_sub_name
            ,class_duration
            ,lesson_type
            ,schedual_date
            ,scanQR_date
            ,lsn_adjusted_date
            ,extra_to_dur_date
        from v_info_lesson 
        where substring(schedual_date,1,10) = #{schedualDate}
        union all
        select 
            lesson_id
            ,stu_id
            ,subject_id
            ,subject_sub_id
            ,stu_name
            ,subject_name
            ,subject_sub_name
            ,class_duration
            ,lesson_type
            ,schedual_date
            ,scanQR_date
            ,lsn_adjusted_date
            ,extra_to_dur_date
        from v_info_lesson 
        where substring(lsn_adjusted_date,1,10) = #{schedualDate}
    </select>

    <select id= "getInfoById" resultType="com.liu.springboot04web.bean.Kn01L002LsnBean">
        select * from v_info_lesson
        where lesson_id = #{lessonId}
    </select>

    <select id="searchLessons" resultType="com.liu.springboot04web.bean.Kn01L002LsnBean">
        SELECT
            *
        FROM
            v_info_lesson
        <where>
            <foreach item="value" index="key" collection="params">
                <if test="value != null and value != ''">
                    <!-- 假设key是数据库列名，需要确保key与数据库列名匹配 -->
                    AND ${key} like CONCAT('%', #{value}, '%')
                </if>
            </foreach>
        </where> 
        order by stu_id, lesson_id desc, subject_sub_id desc, lesson_type
    </select> 

    <!-- 排课记录的变更，调课，签到 处理-->
    <update id="updateInfo">
        <!-- 通过使用动态 SQL 的方式来实现根据参数是否为 null 或空来决定是否更新对应的字 -->
        update t_info_lesson
        <set>
            <if test="subjectId != null">subject_id = #{subjectId},</if>
            <if test="subjectSubId != null">subject_sub_id = #{subjectSubId},</if>
            <if test="stuId != null">stu_id = #{stuId},</if>
            <if test="classDuration != null">class_duration = #{classDuration},</if>
            <if test="lessonType != null">lesson_type = #{lessonType},</if>
            <if test="schedualDate != null">schedual_date = #{schedualDate},</if>
            <if test="scanQrDate != null">scanQR_date = #{scanQrDate},</if>
            <if test="lsnAdjustedDate != null">lsn_adjusted_date = #{lsnAdjustedDate},</if>
            <if test="extraToDurDate != null">extra_to_dur_date = #{extraToDurDate},</if>
            <if test="delFlg != null">del_flg = #{delFlg}</if>
        </set>
        where lesson_id = #{lessonId}
    </update>

    <update id="restoreSignedLsn">
        <!-- 撤销签到操作 -->
        update t_info_lesson Set scanQR_date = NULL
        where lesson_id = #{lessonId}
    </update>

    <update id="reScheduleLsnCancel">
        <!-- 取消调课操作 -->
        update t_info_lesson Set lsn_adjusted_date = NULL
        where lesson_id = #{lessonId}
    </update>

    <insert id="insertInfo" keyColumn="">
        insert into t_info_lesson (
            lesson_id,
            subject_id,
            subject_sub_id,
            stu_id,
            class_duration,
            lesson_type,
            schedual_date,
            scanQR_date,
            lsn_adjusted_date,
            extra_to_dur_date
            )
            values (
            #{lessonId},
            #{subjectId},
            #{subjectSubId},
            #{stuId},
            #{classDuration},
            #{lessonType},
            #{schedualDate},
            #{scanQrDate},
            #{lsnAdjustedDate},
            #{extraToDurDate}
            )
    </insert>

    <delete id="deleteInfo" parameterType="String">
        delete from t_info_lesson
        where lesson_id = #{lessonId}
    </delete>

    <select id="getNextSequence" parameterType="map" statementType="CALLABLE">
        {
            #{parm_out,mode=OUT,jdbcType=INTEGER} = call nextval(#{parm_in,mode=IN})
        }
    </select>
</mapper>