<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.springboot04web.mapper.Kn02F004PayMapper">
    <select id="getInfoList" resultType="com.liu.springboot04web.bean.Kn02F004PayBean">
        select * from v_info_lesson_pay_fee_lsn
    </select>

    <!-- 根据相应条件抽出已支付的学费信息 -->
    <select id="searchLsnPay" resultType="com.liu.springboot04web.bean.Kn02F004PayBean">
        SELECT * FROM KNStudent.v_info_lesson_pay_over
            <where>
                <foreach item="value" index="key" collection="params">
                    <if test="value != null and value != ''">
                        <!-- key是数据库列名，需要确保key与数据库列名匹配 -->
                        AND ${key} like CONCAT('%', #{value}, '%')
                    </if>
                </foreach>
            </where>
            order by stu_name,pay_month desc, lsn_pay_id desc, subject_id, subject_sub_id desc
    </select>

    <!-- 在课程管理模块里，当执行“签到”时，查看按月付费的科目有没有已经执行了月费结算处理
                     （抽出的记录0件以上就表示该月计划课程还没上满就已经执行了精算处理） -->
    <select id="isHasMonthlyPaid" resultType="com.liu.springboot04web.bean.Kn02F004PayBean">
       select * from v_info_lesson_pay_over
        where stu_id = #{stuId}
          and subject_id = #{subjectId}
          and pay_style = 1
          and lesson_type = 1
          and pay_month = #{payMonth}
    </select>

    <delete id="deleteInfo">
        delete from t_info_lesson_pay
        where lsn_pay_id = #{lsnPayId}
          and lsn_fee_id = #{lsnFeeId}
    </delete>
</mapper>