<?xml version="1.0" encoding="UTF-8" ?>
<!--
关于Mybatis的SQL文件映射该怎么写，我们要参照Mybatis的官方文档，官方文档都托管到了GitHub下
我们就从GitHub网站去搜索MyBatis的相关资料
配置的参照例子
https://mybatis.org/mybatis-3/getting-started.htmlf

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.springboot04web.mapper.Kn02F002FeeMapper">
    <select id= "getInfoList" resultType="com.liu.springboot04web.bean.Kn02F002FeeBean">
        <!--  year 参数为 null 或空时不执行 WHERE 子句，而在有值时才执行。 -->
        SELECT 
            main.*,
            CASE 
                WHEN sub.lesson_id IS NOT NULL THEN 1 
                ELSE 0 
            END AS is_from_picese_lsn
        FROM v_info_lesson_fee_connect_lsn_and_extraToScheDataCorrect main
        LEFT JOIN (
            <!-- 查看是否有零碎加课拼凑整课转正课的课程记录 -->
            SELECT DISTINCT lesson_id 
            FROM t_info_lesson_pieces_extra_to_sche
        ) sub 
        ON main.lesson_id = sub.lesson_id
        <where>            
            <if test="year != null and year != ''">
                SUBSTRING(main.lsn_month, 1, 4) = #{year}
            </if>
            <!-- 2025-08-07 结果集导致出现学号为null的原因是，人为地修改了课程表的子科目级别导致，
                 所以，正常情况下学生学号不会为null，所以不要该条件-->
            <!-- AND main.stu_id IS NOT NULL -->
        </where>
        ORDER BY main.stu_name,main.lsn_month desc, main.subject_id, main.lesson_type, main.lesson_id desc
    </select>

    <!-- 手机前端：学费支付管理的在课学生一览 -->
    <select id= "getStuNameList" resultType="com.liu.springboot04web.bean.Kn02F002FeeBean">
        <!--  year 参数为 null 或空时不执行 WHERE 子句，而在有值时才执行。 -->
        select distinct stu_id,stu_name,nik_name from v_info_lesson_fee_connect_lsn_and_extraToScheDataCorrect 
        <where>
            <if test="year != null and year != ''">
                substring(lsn_month, 1, 4) = #{year}
            </if>
            <!-- 2025-08-07 结果集导致出现学号为null的原因是，人为地修改了课程表的子科目级别导致，
                 所以，正常情况下学生学号不会为null，所以不要该条件-->
            <!-- AND stu_id IS NOT NULL -->
        </where>
        order by stu_name
    </select>

    <select id= "getInfoById" resultType="com.liu.springboot04web.bean.Kn02F002FeeBean">
        select * from v_info_lesson_fee_connect_lsn_and_extraToScheDataCorrect
        where lsn_fee_id = #{lsnFeeId}
          and lesson_id = #{lessonId}
    </select>

    <!-- 按月结算课程且是计划课(即，月计划)的场合，lsn_fee_id和lesson_id是一对多的处理,通过科目和月份取得计划课时用的lsn_fee_id -->
    <select id= "checkScheLsnCurrentMonth" resultType="com.liu.springboot04web.bean.Kn02F002FeeBean">
        select * from v_info_lesson_fee_connect_lsn_and_extraToScheDataCorrect
        <where>
            stu_id = #{stuId}
            and subject_id = #{subjectId}
            and lsn_month = #{lsnMonth}
            and lesson_type = #{lessonType}
        </where>
        <!-- limit 1 -->
    </select>

    <!-- 后台维护用：从学生课程管理表视图中取得在课学生正在上的科目，在课程费用管理的新规画面实现学生与科目的下拉列表框的联动：科目信息取决于选择的学生 -->
    <select id="getLatestSubjectList" resultType="com.liu.springboot04web.bean.Kn02F002FeeBean">
        SELECT * FROM v_info_lesson order by stu_name
    </select>

    <select id="searchLsnFee" resultType="com.liu.springboot04web.bean.Kn02F002FeeBean">
        SELECT 
            main.*,
            CASE 
                WHEN sub.lesson_id IS NOT NULL THEN 1 
                ELSE 0 
            END AS is_from_picese_lsn
        FROM v_info_lesson_fee_connect_lsn_and_extraToScheDataCorrect main
        LEFT JOIN (
            <!-- 查看是否有零碎加课拼凑整课转正课的课程记录 -->
            SELECT DISTINCT lesson_id 
            FROM t_info_lesson_pieces_extra_to_sche
        ) sub 
        ON main.lesson_id = sub.lesson_id
        <where>
        <!-- <foreach item="value" index="key" collection="params">
                <if test="value != null and value != ''">
                    AND ${key} like CONCAT('%', #{value}, '%')
                </if>
            </foreach> -->
            <if test="params.lsn_month != null and params.lsn_month != ''">
                <choose>
                    <when test="params.lsn_month.length() == 4">
                        AND substring(main.lsn_month,1,4) = #{params.lsn_month}
                    </when>
                    <otherwise>
                        AND main.lsn_month = #{params.lsn_month}
                    </otherwise>
                </choose>
            </if>
            <if test="params.stu_id != null and params.stu_id != ''">
                AND main.stu_id = #{params.stu_id}
            </if>
            <if test="params.lsn_fee_id != null and params.lsn_fee_id != ''">
                AND main.lsn_fee_id = #{params.lsn_fee_id}
            </if>
            <if test="params.lesson_id != null and params.lesson_id != ''">
                AND main.lesson_id = #{params.lesson_id}
            </if>
            <if test="params.lesson_type != null and params.lesson_type != ''">
                AND main.lesson_type = #{params.lesson_type}
            </if>
            <if test="params.own_flg != null and params.own_flg != ''">
                AND main.own_flg = #{params.own_flg}
            </if>
        </where>
        ORDER BY main.stu_name, main.lsn_month desc, main.lesson_type, main.subject_id, main.lesson_id desc
    </select> 

    <!-- 手机前端用：从学生课程管理表视图中取得在课学生正在上的课程费用 -->
    <select id="getStuFeeListByYearmonth" resultType="com.liu.springboot04web.bean.Kn02F004FeePaid4MobileBean">
        select   stu_id
                ,stu_name
                ,lsn_pay_id
                ,lsn_fee_id
                ,subject_id
                ,subject_name
                ,subject_sub_name
                ,subject_price
                ,pay_style
                ,lesson_type
                ,lsn_count
                ,lsn_fee
                ,0 as lsn_pay
                ,lsn_month
                ,pay_date
                ,own_flg
                ,1 as advc_flg
                ,'' as bank_name
            from v_info_lesson_sum_fee_unpaid_yet
            <where>
                stu_id = #{stuId}
                <if test="yearMonth != null and yearMonth.length() == 4">
                    AND left(lsn_month, 4) = #{yearMonth}
                </if>
                <if test="yearMonth != null and yearMonth.length() == 7">
                    AND left(lsn_month, 7) = #{yearMonth}
                </if>
            </where>
            <!-- 这部分空月课费的 union all的处理已经合并到 v_info_lesson_fee_connect_lsn_and_extraToScheDataCorrect视图里面了，此处代码废弃-->
            <!-- 2025-12-22 追加开始： 提前上满43节课后，后续的月份的空课月计划课费的缴纳处理 -->
        <!-- union all
        select   stu_id
                ,stu_name
                ,lsn_pay_id
                ,lsn_fee_id
                ,subject_id
                ,subject_name
                ,subject_sub_name
                ,subject_price
                ,pay_style
                ,lesson_type
                ,lsn_count
                ,lsn_fee
                ,0 as lsn_pay
                ,lsn_month
                ,pay_date
                ,own_flg
                ,1 as advc_flg
                ,'' as bank_name
            from v_info_tmp_lesson_after_43_month_fee_unpaid_yet
            <where>
                stu_id = #{stuId}
                <if test="yearMonth != null and yearMonth.length() == 4">
                    AND left(lsn_month, 4) = #{yearMonth}
                </if>
                <if test="yearMonth != null and yearMonth.length() == 7">
                    AND left(lsn_month, 7) = #{yearMonth}
                </if>
            </where> -->
        <!-- 2025-12-22 追加开始： 提前上满43节课后，后续的月份的空课月计划课费的缴纳处理 -->
        union all
        select   paid.stu_id
                ,paid.stu_name
                ,paid.lsn_pay_id
                ,paid.lsn_fee_id
                ,paid.subject_id
                ,paid.subject_name
                ,paid.subject_sub_name
                ,paid.subject_price
                ,paid.pay_style
                ,paid.lesson_type
                ,paid.lsn_count
                ,paid.lsn_fee
                ,paid.lsn_pay
                ,paid.lsn_month
                ,paid.pay_date
                ,1 as own_flg
                ,lfap.advc_flg
                ,bnk.bank_name
            from v_info_lesson_sum_fee_pay_over paid
            left join t_info_lsn_fee_advc_pay lfap
            on paid.lsn_pay_id = lfap.lsn_pay_id
            left join t_mst_bank bnk
            on paid.bank_id = bnk.bank_id
            <where>
                stu_id = #{stuId}
                <if test="yearMonth != null and yearMonth.length() == 4">
                    AND left(lsn_month, 4) = #{yearMonth}
                </if>
                <if test="yearMonth != null and yearMonth.length() == 7">
                    AND left(lsn_month, 7) = #{yearMonth}
                </if>
            </where>
        order by lsn_month, subject_id;
    </select>

    <update id="updateInfo">
        update t_info_lesson_fee
        <set>
            <!-- 检查每个字段是否为空，只更新不为空的字段 -->
            <if test="lsnFeeId != null">lsn_fee_id = #{lsnFeeId},</if>
            <if test="lessonId != null"> lesson_id = #{lessonId},</if>
            <if test="payStyle != null"> pay_style = #{payStyle},</if>
            <if test="lsnFee != null">     lsn_fee = #{lsnFee},</if>
            <if test="lsnMonth != null"> lsn_month = #{lsnMonth},</if>
            <if test="ownFlg != null">     own_flg = #{ownFlg},</if>
            <if test="delFlg != null">     del_flg = #{delFlg},</if>
        </set>
        where lsn_fee_id = #{lsnFeeId} 
          and lesson_id  = #{lessonId}
    </update>    

    <!-- 課費未精算模块里，点击【学費精算】ボタン、精算画面にての【保存】ボタン押下、 own_flgの値を０から１に変更する処理-->
    <update id="updateOwnFlg">
        update t_info_lesson_fee set
            own_flg = #{ownFlg}
        where lsn_fee_id = #{lsnFeeId}
    </update>

    <!-- 设定或撤销加课换正课时的课程支付未支付标识 -->
    <update id="updateNewOwnFlg">
        update t_info_lesson_extra_to_sche
        <set>
            new_own_flg = #{newOwnFlg}
        </set>
        where new_lsn_fee_id = #{lsnFeeId}
        and substring(new_scanqr_date,1,7) = #{payMonth}
    </update>

    <insert id="insertInfo" keyColumn="lesson_id">
        insert into t_info_lesson_fee (
            lsn_fee_id,
            lesson_id,
            pay_style,
            lsn_fee,
            lsn_month,
            own_flg
            ) values (
            #{lsnFeeId},
            #{lessonId},
            #{payStyle},
            #{lsnFee},
            #{lsnMonth},
            #{ownFlg}
        )
    </insert>

    <delete id="deleteInfo">
        delete from t_info_lesson_fee where lsn_fee_id = #{lsnFeeId}
                                        and lesson_id = #{lessonId}
    </delete>

    <select id="getNextSequence" parameterType="map" statementType="CALLABLE">
          {
              #{parm_out,mode=OUT,jdbcType=INTEGER} = call nextval(#{parm_in,mode=IN})
          }
    </select>

    <!-- 手机前端课程进度统计页面的上课完了Tab页（统计指定年度中的每一个已经签到完了的课程（已支付/未支付的课程都算） -->
    <select id= "getInfoLsnStatisticsByStuId" resultType="com.liu.springboot04web.bean.Kn02F002FeeBean">
        SELECT
           subject_id,subject_name,
           SUM(lsn_count0) AS total_lsn_count0,
           SUM(lsn_count1) AS total_lsn_count1,
           SUM(lsn_count2) AS total_lsn_count2,
           lsn_month
       FROM
           (SELECT
               subject_id,subject_name,
               CASE WHEN lesson_type = 0 THEN lsn_count ELSE 0 END AS lsn_count0,
               CASE WHEN lesson_type = 1 THEN lsn_count ELSE 0 END AS lsn_count1,
               CASE WHEN lesson_type = 2 THEN lsn_count ELSE 0 END AS lsn_count2,
               lsn_month
           FROM
               v_info_lsn_statistics_by_stuid
           WHERE stu_id = #{stuId}
             AND substring(lsn_month,1,4) = #{year}
           ) AS derived_table
       GROUP BY
           subject_id, subject_name, lsn_month
       ORDER BY
           subject_id, lsn_month;
    </select>

    <!-- 获取该学生上一个支付月份使用的银行ID（用于设置默认银行） -->
    <select id="getLastPaymentBankId" resultType="String">
        SELECT pay.bank_id
        FROM t_info_lesson_pay pay
        INNER JOIN t_info_lesson_fee fee ON pay.lsn_fee_id = fee.lsn_fee_id
        LEFT JOIN t_info_lesson lsn ON fee.lesson_id = lsn.lesson_id
        LEFT JOIN t_info_lesson_tmp tmp ON fee.lesson_id = tmp.lsn_tmp_id
        WHERE COALESCE(lsn.stu_id, tmp.stu_id) = #{stuId}
          AND fee.lsn_month &lt; #{currentMonth}
        ORDER BY fee.lsn_month DESC, pay.pay_date DESC
        LIMIT 1
    </select>
</mapper>