<?xml version="1.0" encoding="UTF-8" ?>
<!--
关于Mybatis的SQL文件映射该怎么写，我们要参照Mybatis的官方文档，官方文档都托管到了GitHub下
我们就从GitHub网站去搜索MyBatis的相关资料
配置的参照例子
https://mybatis.org/mybatis-3/getting-started.html

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.springboot04web.dao.Kn04I003lsnCountingDao">

    <select id="getStuLsnCount" resultType="com.liu.springboot04web.bean.Kn04I003LsnCountingBean">
        SELECT 
            lsn.stu_id, lsn.stu_name,
            lsn.subject_id, lsn.subject_name, doc.year_lsn_cnt, doc.pay_style,
            SUM(CASE WHEN lesson_type = 0 THEN lsn_count ELSE 0 END) AS total_lsn_cnt0,
            SUM(CASE WHEN lesson_type = 1 THEN lsn_count ELSE 0 END) AS total_lsn_cnt1,
            SUM(CASE WHEN lesson_type = 2 THEN lsn_count ELSE 0 END) AS total_lsn_cnt2
        FROM v_info_lsn_statistics_by_stuid lsn
        INNER JOIN
             v_latest_subject_info_from_student_document doc
        ON lsn.stu_id = doc.stu_id
        AND lsn.subject_id = doc.subject_id
        WHERE 1=1
        AND EXISTS(
                SELECT 1 FROM t_mst_student mst WHERE mst.stu_id  = lsn.stu_id AND mst.del_flg = 0
                )
        AND lsn.lsn_month BETWEEN #{year_month_from} AND #{year_month_to}
        GROUP BY lsn.stu_id, lsn.stu_name, lsn.subject_id, lsn.subject_name, doc.year_lsn_cnt, doc.pay_style
        ORDER BY lsn.stu_name, lsn.subject_id;
    </select>
</mapper>