<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.springboot04web.mapper.KnFixLsn001Mapper">

    <select id="getInfoList" resultType="com.liu.springboot04web.bean.KnFixLsn001Bean">
        SELECT * FROM v_info_fixedlesson order by fixed_hour, fixed_minute
    </select>

    <!-- 从学生档案表视图中取得在课学生正在上的科目，在新规画面实现学生与科目的下拉列表框的联动：科目信息取决于选择的学生 -->
    <select id="getLatestSubjectList" resultType="com.liu.springboot04web.bean.KnFixLsn001Bean">
        SELECT * FROM v_letest_subject_info_from_student_document order by stu_name
    </select>

    <select id="searchFixedLessons" resultType="com.liu.springboot04web.bean.KnFixLsn001Bean">
        SELECT *
        FROM v_info_fixedlesson
        <where>
            <foreach item="value" index="key" collection="params">
                <if test="value != null and value != ''">
                    AND ${key} like CONCAT('%', #{value}, '%')
                </if>
            </foreach>
        </where>
    </select> 

    <select id="getInfoById" resultType="com.liu.springboot04web.bean.KnFixLsn001Bean">
        SELECT * FROM v_info_fixedlesson WHERE stu_id = #{stuId} 
                                           AND subject_id = #{subjectId} 
                                           AND fixed_week = #{fixedWeek}
    </select>
    
    <insert id="insertInfo" parameterType="com.liu.springboot04web.bean.KnFixLsn001Bean">
        INSERT INTO t_info_fixedlesson (stu_id, subject_id, fixed_week, fixed_hour, fixed_minute) 
        VALUES (#{stuId}, #{subjectId}, #{fixedWeek}, #{fixedHour}, #{fixedMinute})
    </insert>

    <update id="updateInfo" parameterType="com.liu.springboot04web.bean.KnFixLsn001Bean">
        UPDATE t_info_fixedlesson 
        SET subject_id=#{subjectId}, fixed_week=#{fixedWeek}, fixed_hour=#{fixedHour}, fixed_minute=#{fixedMinute}
        WHERE stu_id=#{stuId} AND subject_id = #{subjectId} AND fixed_week = #{fixedWeek}
    </update>

    <delete id="deleteInfoByKeys">
        DELETE FROM t_info_fixedlesson WHERE stu_id = #{stuId} 
                                         AND subject_id = #{subjectId} 
                                         AND fixed_week = #{fixedWeek}
    </delete>

    <select id="getNextSequence" parameterType="map" statementType="CALLABLE">
        {
            #{parm_out,mode=OUT,jdbcType=INTEGER} = call nextval(#{parm_in,mode=IN})
        }
    </select>
</mapper>
